<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/urls/new/">Add New URL</a></li>
                    <li><a href="/urls/">Archive</a></li>
                </ul>
                <% if (user_id) { %>
                    <form method="GET" action="/urls/login">
                      <input type="submit" value="Login">
                    </form>
                    <form method="GET" action="/urls/register">
                      <input type="submit" value="Register">
                    </form>
                  <% } else { %>
                    <form action="/urls/logout" method="POST" style="margin:20px;">
                      <label for="user"> <%= user_id['email'] %> </label>
                      <input type="submit" value="Logout">
                    </form>
                  <% } %>
                        </div>
                    </div>
                </nav>