<!DOCTYPE html>

<html lang="en">
    <title>tinyApp</title>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #d5f5e3;
      }
    </style>
  </head>

  <body style="font-family:'Raleway', sans-serif">
    <h1>Welcome To TinyApp!</h1>

    <a href="/urls/">Let's Get Started!</a>
  </body>
</html>
