<!DOCTYPE html>
<html lang="en">
        <head>
                <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        </head>
                <p style= "font-family:'Raleway', sans-serif;font-size:25px">Tiny App - Add New URL
        <body style="font-size:20px; padding:50px;">
                <% include partials/_header %>
                <form action="/urls" method="POST">
                        <label for="longURL" style="font-family:'Raleway', sans-serif">Enter a URL:</label>
                        <input id="longURL" type="text" name="longURL" placeholder="http://" style="font-family:'Raleway', sans-serif; width: 300px">
                        <input type="submit" style="font-family:'Raleway', sans-serif" value="Submit">
                </form>
        </body>
</html>