<!DOCTYPE html>
<html lang="en">
<header>
  <% include partials/_header.ejs %>
</header>
<title>TinyApp</title>
<body>
<ul>
    <table>
        <% for(var i=0; i < urls.length; i++) { %>
           <tr>
             <td><%= urls[i].id %></td>
             <td><%= urls[i].name %></td>
           </tr>
        <% } %>
        </table>
</ul>
</ul>
</body>
</html>