<!DOCTYPE html>
<html lang="en">
<head>
      <title>tinyApp</title>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <style>
      body { background-color: #D5F5E3}
      </style>
</head>
      <p style="font-family:'Raleway', sans-serif;font-size:25px">Tiny App - Login Error</p>
<body>
    <h4 style="font-family:'Raleway', sans-serif;font-size:15px">You need to have an account to login!<br>Please go to the <a href="/urls/register/">registration page</a> to set up an account.</h4>
</body>
</html>