<!DOCTYPE html>
<html lang="en">
  <head>
        <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
  </head>
        <p style= "font-family:'Spicy Rice', cursive;font-size:25px">Tiny App - Login
    <body>

            <form action="/urls/login" method="POST" style="margin:150px;">
                  <label for="user">Login:</label><br>
                  <input id="email" type="text" name="email" placeholder="email" style="width: 300px"><br>
                  <input id="password" type="password" name="password" placeholder="password" style="width: 243px">
                  <input type="submit" value="Submit">
            </form>

      </body>