<!DOCTYPE html>
<html lang="en">
  <head>
        <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
  </head>
            <body>
                <form method="POST" action="/urls/register">
                <label for="user">Registration:</label><br>
                <input id="email" type="email" name="email" 
                    placeholder="Email" style="width:300px"> <br/>
                    <input id="password" type="password" name="password"
                    placeholder="Password" style="width:243px">
                <input type="submit" value="Submit">
                </form>
            </body>
        </html>