<!DOCTYPE html>
<html lang="en">
<head>
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <style>
      body { background-color: #D5F5E3}
      </style>
</head>
      <p style="font-family:'Raleway', sans-serif;font-size:25px">Tiny App - Login
<body>
      <form action="/urls/login" method="POST" style="font-family:'Raleway', sans-serif;">
            <label for="user">Login:</label><br>
            <input id="email" type="text" name="email" placeholder="email" style="font-family:'Raleway', sans-serif; width: 300px"><br>
            <input id="password" type="password" name="password" placeholder="password" style="font-family:'Raleway', sans-serif; width: 243px">
            <input type="submit" value="Submit" style="font-family:'Raleway', sans-serif">
      </form>
</body>
</html>