<!DOCTYPE html>
<html lang="en">
  <head>
        <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
  </head>
        <p style= "font-family:'Spicy Rice', cursive;font-size:25px">Tiny App - Archive
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
<p>
    <ul style= "font-family:georgia,garamond,serif;font-size:14px">
        <% for(let key in urls) { %>
            <li><%= key %>  → <a href = "<%= urls[key] %>"> <%= urls[key] %></a>  
                <form method="POST" action="/urls/<%=key %>/delete">
                    <input type="submit" value="Remove URL">
                  </form>
                <% } %>
        </ul>
        </p>
</body>
</html>