<!DOCTYPE html>
<html land ="en">
    <head>
        <title>TinyApp</title>
    </head>
    <header>
        <% include partials/_header %>
    </header>
    <body>
    <h2>
        <link href="https://lighthouselabs.ca/studentoutcomes">
        <link href="#">
        <link href="#">  
    </h2>
</body>
</html>